<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="vieport" content="width=device-width" , initial-scale="1.0">
        <title>remote control</title>
        <link href="../static/css/E-agriculture/remote control.css" rel="stylesheet">
    </head>
    <body>
        <div class="wrap">
            <!-- <div class="intro_bg">
                <div class="header">
                    <div class="searchArea">
                    </div>
                    <ul class="nav">
                        <li>
                            <a href="../homepage.html" target="_self">
                                <img src="../../logo/KakaoTalk_20220920_120852364-removebg-preview.png" width="100">
                            </a>
                        </li>
                        <li><a href="../E-agriculture/dashboard.html">Dash board</a></li>
                        <li><a href="../E-agriculture/remote control.html">Remote control</a></li>
                        <li><a href="../E-agriculture/management.html">Management</a></li>
                        <li><a href="../E-agriculture/statistics.html">Statistics</a></li>
                        <li><a href="../E-agriculture/A.I data.html">A.I data</a></li>
                        
                    </ul>
                </div>
            </div> -->
            {% include "nav_agriculture.html" %}
            <div class="ldc418">
                <div class="intro_bg2">
                    <div class="header2">
                        <div class="contents">
                            <div class="checkbutton1">
                                <form action="" method="post">
                                    <input type="checkbox" id="chk1">
                                    <label for="chk1" id="label1">
                                        <span>선택</span>
                                    </label>
                                </form>
                                
                            </div>

                            <div>
                                <form action="" method="post">
                                    <input type="checkbox" id="chk2">
                                    <label for="chk2" id="label2">
                                        <span>선택</span>
                                    </label>
                                </form>
                                
                            </div>

                            <div>
                                <form action="" method="post">
                                    <input type="checkbox" id="chk3">
                                    <label for="chk3" id="label3">
                                        <span>선택</span>
                                    </label>
                                </form>
                                
                            </div>

                            <div>
                                <form action="" method="post">
                                    <input type="checkbox" id="chk4">
                                    <label for="chk4" id="label4">
                                        <span>선택</span>
                                    </label>
                                </form>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </body>
</html>