<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="vieport" content="width=device-width" , initial-scale="1.0">
        <title>E-agriculture</title>
        <link href="../static/css/E-agriculture.css" rel="stylesheet">
    </head>
    <body>
        
        <br>
        <hr>
        {% include "nav_agriculture.html" %}
        <div class="wrap_2">
            <div class="E-agreculture_bg">
                <div class="header_2">
                    <div>
                        <ul  class="abc1">
                            <li>sd</li>
                            <li>sd</li>
                            <li>sd</li>
                        </ul>
                        <ul  class="abc2">
                            <li>
                                <form action="" method="POST">
                                    <input class="favorite styled"
                                    type="button"
                                    value="on/off">
                                    <input class="favorite styled"
                                type="button"
                                value="auto">
                                </form>   
                            </li>
                            <li>sd</li>
                            <li>sd</li>
                        </ul>
                        <ul  class="abc3">
                            <li><canvas id="myChart1" width="380" height="250"></canvas></li>
                            <li><canvas id="myChart2" width="380" height="250"></canvas></li>
                            <li><canvas id="myChart3" width="380" height="250"></canvas></li>
                        </ul>
                       
                    </div>
                </div>
            </div>
        </div>   
    </body> 
</html>