<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="vieport" content="width=device-width" , initial-scale="1.0">
        <title>getstarted</title>
        <link href="../static/css/getstarted.css" rel="stylesheet">
    </head>
    <body>
        {% include "nav.html" %}


        
       <div class="wrap_2">
            <div class="getstarted_page">
                <img src="../static/logo/KakaoTalk_20220920_120917793.png">
            </div>
            <div class="ac">
                <div class="getstarted_page_2">
                    <div class="text">
                        <h1>한국산 커피 아시나요? 국내 최대 커피농장 포스터</h1>​
                        <h1>우리나라에 커피 농장이 있다구요?</h1>
                        <p>정확한 통계는 없지만 국내에 대략 50~60여 곳 커피 농장이 있는 것으로 업계는 추정하고 있다.
                            <br>대부분 체험형 농장이어서 규모가 수백평대 이하로 크지 않다.
                            <br>그런데 포스터 커피농장은 대한민국 전국에 커피농장을 원하는 농민과 사업주들에게 대규모 커피 농장 시스템을 만들었다.
                            <br>국내 최대 규모인 포스터 커피 농장은 AI기술을 활용하여 커피나무의 최적의 환경을 제공하여 우리나라에서 자라나는 Made In Korea 커피를 만들어내는 데 성공하였다.
                            <br>커피는 주로 열대지방에서 자라는 나무여서 온실 내부 온도가 딱일 거라고 생각하는 사람들이 많이 있습니다.
                            <br>하지만 오산이 었습니다.
                            <br>커피는 에티오피아 고산지대가 원산지이며 고산지대가 많은 우리나라에서 키우는것이 좋다고 생각하였고 이러한 커피 작물을 스마트팜화 시켜 최적의 환경을 제공하며 최상의 맛을 낼수있는 농장 시스템을 포스터 팜에서 기술을 만들었다.​
                        </p>
                        <a id="i">
                            <img src="../static/img/smart_farm.jpg">
                        </a>
                        <p>포스터 농장은 자체 개발한 시스템으로 유리온실 내부 온도를 낮추고 있었다.
                            <br>공중으로 안개 입자의 물을 분사한 뒤 팬을 통해 내부 공기를 바깥으로 뽑아내면 상부의 뜨거운 공기를 머금은 수분이 밖으로 빠져 나가면서 내부 온도를 낮추는 방식이다.
                            <br>에어컨을 사용하는 것보다 비용이 훨씬 저렴하게 든다.
                            <br>차 대표는 ＂커피나무는 기온이 5도 밑으로만 떨어지지 않으면 되기 때문에 겨울이라도 난방비는 거의 들지 않는다＂며 ＂안개 분사 방식을 통해 여름철 냉방비를 크게 절감하고 있다＂고 설명했다.
                            <br>여기서 수확하는 커피는 5500평 기준으로 연간 10t 정도 생산되는것으로 예측되어진다.
                        </p>
                        <a id="i"><img src="../static/img/beans.jpg">
                        </a>
                        <p>포스터 농장은 물량 전체를 스페셜 등급 커피로 생산하는 게 목표다.
                            <br>포스터 농장은 "가격을 맞추기 위해 생산지와 수확 시기, 등급조차 모르는 커피를 혼합한 저가커피와 경쟁을 하고싶은 생각은 없다"며 "이 곳에서 생산된 커피가 해외에서 알아주는 스페셜 커피 대열에 들어갈 수 있도록 끊임없이 연구하고있다"​
                        </p>

                    </div>
                </div>
             </div>
        </div>
    </body>
</html>