<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="vieport" content="width=device-width" , initial-scale="1.0">
        <title>homepage</title>
        <link href="../static/css/hompage.css" rel="stylesheet">
    </head>
    <body>
    	{% include "nav.html" %}

        <div class="section">
            <input type="radio" name="slide" id="slide01" checked>
            <input type="radio" name="slide" id="slide02" >
            <input type="radio" name="slide" id="slide03" >
            <input type="radio" name="slide" id="slide04" >
            <input type="radio" name="slide" id="slide05" >
              <div class="slidewrap">
                <ul class="slidelist">
                  <li>
                    <a href="./getstarted.html" target="_self">
                      <img src="../static/img/getstarted.jpg" />
          
                    </a>
                  </li>
                  <li>
                    <a href="./shop.html" target="_self">
                      <img src="../static/img/shop.jpg">
                    </a>
                  </li>
                  <li>
                    <a href="./roasters.html" target="_self">
                      <img src="../static/img/roaster.jpg">
                    </a>
                  </li>
                  <li>
                    <a href="./guides.html" target="_self">
                      <img src="../static/img/guides.jpg">
                    </a>
                  </li>
                  <li>
                    <a href="./E-agriculture/dashboard.html" target="_self">
                      <img src="../static/img/E-agriculture.jpg">
                    </a>
                  </li>
            
                  <div class="slide-control">
                    <div class="control01">
                      <label for="slide05" class="left"></label>
                      <label for="slide02" class="right"></label>
                    </div>
                    <div class="control02">
                      <label for="slide01" class="left"></label>
                      <label for="slide03" class="right"></label>
                    </div>
                    <div class="control03">
                      <label for="slide02" class="left"></label>
                      <label for="slide04" class="right"></label>
                    </div>
                    <div class="control04">
                      <label for="slide03" class="left"></label>
                      <label for="slide05" class="right"></label>
                    </div>
                    <div class="control05">
                      <label for="slide04" class="left"></label>
                      <label for="slide01" class="right"></label>
                    </div>
                  </div>
                </ul>
              </div>
          </div>
          <div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
    </body>
</html>