<!-- navigation bar -->
<div class="wrap">
    <div class="intro_bg">
        <div class="header">
            <div class="searchArea">
                <a href="./homepage.html" target="_self">
                    <img src="../static/logo/KakaoTalk_20220920_120859896.png" width="300">
                </a>
            </div>
            <ul class="nav">
                <li><a href="{{ url_for('home.navi_getstarted') }}">getstarted</a></li>
                <li><a href="{{ url_for('home.navi_shop') }}">shop</a></li>
                <li><a href="{{ url_for('home.navi_roasters') }}">roasters</a></li>
                <li><a href="{{ url_for('home.navi_guides') }}">guides</a></li>
                <li><a href="{{ url_for('home.navi_dashboard') }}">E-agriculture</a></li>
            </ul>
        </div>
    </div>
    <br>
    <hr>
</div>
