<link href="../static/css/E-agriculture/nav_agriculture.css" rel="stylesheet">
<div class="wrap">
    <div class="intro_bg">
        <div class="header">
            <ul class="nav">
                <li>
                    <a href="./homepage.html" target="_self">
                        <img src="../static/logo/KakaoTalk_20220920_120852364-removebg-preview.png" width="100">
                    </a>
                </li>
                
                
                <li><a href="{{ url_for('home.navi_dashboard') }}">Dash board</a></li>
                <li><a href="{{ url_for('home.navi_controller') }}">Remote control</a></li>
                <li><a href="{{ url_for('home.navi_statistics') }}">Statistics</a></li>
                <li><a href="{{ url_for('home.navi_management') }}">Management</a></li>
                <li><a href="{{ url_for('home.navi_AI') }}">A.I data</a></li>
            
                
                
            </ul>
        </div>
    </div>
</div>
      